/**********************
 * GLOBAL
**********************/



*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(../img/BWbackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
          background-size: cover;
}

/**********************
 * HEADER
**********************/


header {
  text-align: center;
  overflow: hidden;
}


header img {
  width: 22%;
  float: left;
}

h1 {
  margin: 15% 0 0 0;
  font-size: 40px;
  color: hsla(0,20%,100%,1);
  text-shadow: 3px 3px 3px hsla(0,20%,20%,1);
}

header p {
  display: inline-block;
  color: hsla(0,20%,100%,1);
  margin: 0 5% 0 5%;
  text-shadow: 1px 1px 1px hsla(0,20%,20%,1);
  width: 400px;
}

header nav {
  margin: 30px 0 23px 0;
  display: block;
  text-align: center;
  background: hsla(0,20%,100%,1);
}

header nav a {
  padding: 0 11px 0 11px;
  margin: 0 0 0 0;
  text-decoration: none;
  color: hsla(26,97%,46%,1);
  text-transform: uppercase;
  font-size: 20px;
  text-indent: 0;
  background: none;
  display: inline-block;
}

header .headbutton {
  color: hsla(0,20%,100%,1);
  background: hsla(26,97%,46%,1);
  display: block;
  text-decoration: none;
  width: 130px;
  vertical-align: middle;
  margin: 20px auto;
  padding: 10px 0;
}

header nav a:not(:first-child) {
  margin: 0 0 0 -5px;
  border-left: 1px solid black;
}

header nav a:hover {
  border-bottom: 2px solid white;
  background: hsla(0,5%,10%,1);
}

/**********************
 * SECTION
**********************/


section {
  height: 900px;
  margin: 40% 0 0 0;
  width: 100%;
  background: hsla(0,20%,100%,1);
}

section div {
  width: 100%;
  height: 300px;
  display: inline-block;
  margin: 0;

}
